<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Volunteer App</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="icon" type="image/png" href="#">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js" charset="utf-8"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="volunteerApp" ng-controller="ProfileController">

  <% include header/header.ejs %>

  <header class="profile-header">
    <div class="profile-picture"><img src=<%- JSON.stringify(organization[0].profileImg) %> alt="profile picture"></div>
    <div class="profile-name"><h1><%- JSON.stringify(organization[0].name).replace(/["']/g, "") %></h1></div>
    <button class="edit-btn edit">Edit Profile</button>
    <button class="edit-btn save">Save</button>
  </header>

  <section class="info-box">
    <h2 class="info-box_heading">About Us</h2>
    <p class="editable"><%- JSON.stringify(organization[0].description).replace(/["']/g, "") %></p>
    <br>
    <p class="editable"><%- JSON.stringify(organization[0].website).replace(/["']/g, "") %></p>
    <p class="editable"><%- JSON.stringify(organization[0].facebookURL).replace(/["']/g, "") %></p>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ratione, dicta sint modi? Tenetur perferendis eos magnam impedit, repellat explicabo adipisci. Officiis itaque laudantium incidunt, accusamus amet inventore eius delectus?</p> -->
  </section>

  <div class="page-content">
    <section class="social-feed one-third-column">
      <h2 class="column-heading">Social Feed</h2>
      <section class="social-feed_content">
        
      </section>
    </section>

    <section class="event-feed two-thirds-column">
      <h2 class="column-heading">Recent Events</h2>

      <section class="event-feed_content">

        <%
        var eventsLength = JSON.stringify(organization[0].events.length);
        if(eventsLength != 0) {
          var events = JSON.stringify(organization[0].events);
          var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
          var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

          for(var i in eventsLength){
        %>

        <div class="event-feed_item">
          <!-- <p class="event-title"><strong>title</strong></p> -->
          <p class="event-title"><strong>
            <%= JSON.stringify(organization[0].events[i].title).replace(/["']/g, "") %>
          </strong></p>
          <p class="event-date">
            <%= days[JSON.stringify(organization[0].events[i].date.getDay()).replace(/["']/g, "")] %>,
            <%= months[JSON.stringify(organization[0].events[i].date.getMonth()).replace(/["']/g, "")] %>
            <%= JSON.stringify(organization[0].events[i].date.getDate()).replace(/["']/g, "") %>,
            <%= JSON.stringify(organization[0].events[i].date.getFullYear()).replace(/["']/g, "") %>
          </p>
          <p class="event-location">
            <%= JSON.stringify(organization[0].events[i].location).replace(/["']/g, "") %>
          </p>
          <hr>
          <p class="event-description">
            <%= JSON.stringify(organization[0].events[i].description).replace(/["']/g, "") %>
          </p>
        </div>

        <%}}%>
      </section>

      <!-- <section class="event-feed_content">
        <div class="event-feed_item">
          <p class="event-title"><strong>title</strong></p>
          <p class="event-date">1/1/2018</p>
          <p class="event-location">location</p>
          <hr>
          <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis vero, ea illo blanditiis ratione debitis vel laboriosam laudantium pariatur perspiciatis dolorem quia ut eos dolor quidem voluptates a consequatur inventore.</p>
        </div>

        <div class="event-feed_item">
          <p class="event-title"><strong>title</strong></p>
          <p class="event-date">1/1/2018</p>
          <p class="event-location">location</p>
          <hr>
          <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis vero, ea illo blanditiis ratione debitis vel laboriosam laudantium pariatur perspiciatis dolorem quia ut eos dolor quidem voluptates a consequatur inventore.</p>
        </div>

        <div class="event-feed_item">
          <p class="event-title"><strong>title</strong></p>
          <p class="event-date">1/1/2018</p>
          <p class="event-location">location</p>
          <hr>
          <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis vero, ea illo blanditiis ratione debitis vel laboriosam laudantium pariatur perspiciatis dolorem quia ut eos dolor quidem voluptates a consequatur inventore.</p>
        </div>
      </section> -->

    </section>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src='/javascripts/controllers/profile.controller.js'></script>
  <script src='/javascripts/controllers/organization.controller.js'></script>
  <script src='/javascripts/services/organization.service.js'></script>
  <script>

    $(".edit").click(function() {
      $(document.getElementsByClassName("editable")).attr('contentEditable', 'true');
      $(".edit").css({"display":"none"});
      $(".save").css({"display":"block"});
    });

    $(".save").click(function() {
      $(document.getElementsByClassName("editable")).attr('contentEditable', 'false');
      $(".edit").css({"display":"block"});
      $(".save").css({"display":"none"});
    });

  </script>
</body>
